@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1, h2, h3, h4, h5, p, div, select, ul, li {
    font-family: 'Raleway';

}

h1, h2, h3, h4, h5 {
    text-align: center;

}

h3 { 
    margin-top: 4rem;

}

.corona {
    text-transform: uppercase;
    background-color: rgba(213, 62, 79, 0.25);
}

.page {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
}

.hide { display: none;}

.header {
    text-align: center;
}

.country_chooser {
    max-width: 95%;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.status-banner {
    position: relative;
    font-size: 9rem;
    padding: 5rem 0rem;
    text-align: center;
    font-weight: bold;
}

.share {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    opacity: 0.4;
}

.share:hover {
    opacity: 1;

}

.status-label {
    padding: 0.25em 1em;
    font-size: 0.9rem;
}

.status-hover {
    padding: 0.25em 1em;
}

.status {
    background-color: #eee;
    text-transform: uppercase;
}

.status.yes {
    background-color: #66c2a5;
    color: rgba(255, 255, 255, 0.8);
}

.status.maybe {
    background-color: #fee090;
    color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 700px) {
    .status-banner.maybe, .status-banner.uh_oh {
        font-size: 25vw;
    }
}

.status.no {
    background-color:#d53e4f; 
    color:  rgba(0, 0, 0, 0.8);

}

.status.uh_oh {
    background-color:#863ed5; 
    color:  rgba(255, 255, 255, 0.8);
}


.rate-label {
    padding: 0.25em 1em;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.rate.up:before {
    content:"\25B2";
    color:rgba(213, 62, 79, 0.8); 
}

.rate.down:before {
    content:"\25BC";    
    color: rgba(102, 194, 165, 0.8);
}


.statement {
    font-size: 1.3rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.legend {
    font-size: 1.3rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.plot {
    padding: 2rem 0;
    max-width: 80%;
    margin: 0 auto;
}

.legend {
    font-size: 1rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.l-box {
    padding: 0 1rem;
}

.source {
    margin: 5rem auto;

}

.center {
    text-align: center;
}

.pure-table {
    width: 100%;
    max-width: 35rem;
    margin: 2rem auto;
}

.pure-table td, .pure-table th {
    padding: 0.5rem 0.5rem;
}


#world {
    width: 100%;
}

a {
    text-decoration: none;
    color: #2166ac;

}

ol {
    list-style: none;
    max-width: 35rem;
    line-height: 2rem;
    margin: auto;
}

.updated {
    text-align: center;
    font-size: 0.7rem;
    margin: 2rem 0 0 0;
}