{% extends 'base.html' %}


{% block body %}

<div class="pure-u-1-1 status-banner status {{ status|replace(' ','_') }}">
{{ status }}
</div>

<div class="pure-u-1-1 statement">
<p>{{ statements.headline }}</p>
</div>

<div class="pure-u-1-1">
<a href="cases.png"><img src="cases.png" class="pure-img plot"></a>
<p class="legend">
    <strong>Figure {{ country_id }}-1.</strong> The daily change in the <em>rate of new cases</em>. Negative values indicate the number of cases per day is <em>decreasing</em>. When the line crosses zero, the number of cases has plateaued.
    {{ statements.cases }}</p>
</div>

<div class="pure-u-1-1">
<a href="deaths.png"><img src="deaths.png" class="pure-img plot"></a>
<p class="legend">
    <strong>Figure {{ country_id }}-2.</strong> The daily change in the <em>rate of deaths</em>. Negative values indicate the number of deaths per day is <em>decreasing</em>.  When the line crosses zero, the number of deaths has plateaued.
    {{ statements.deaths }}</p>
</div>

{% endblock %}

