{% extends 'base.html' %}


{% block status %}

<div class="pure-u-1-1 status-banner status {{ status|replace(' ','_') }}">
{{ status }}

<a class="share fa fa-twitter" href="https://twitter.com/share?text={{ country }}%20%23covid19%20%7C%20Is%20it%20getting%20better%20yet%3F%20{{ status.title() }}.&amp;url=https%3A%2F%2Fisitgettingbetteryet.com%2F{{ country_id.lower() }}%2F" 
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share this via Twitter"></a>

</div>

<div class="pure-u-1-1 statement">
<p>{{ statements.headline }}</p>
</div>
{% endblock %}

{% block data %}

<div class="pure-u-1-1">
<a href="cases.png"><img src="cases.png" class="pure-img plot"></a>
<p class="legend">
    <strong>Figure {{ country_id }}-1.</strong> The daily change in the <em>rate of new cases</em> of Coronavirus. Negative values indicate the number of cases per day is <em>decreasing</em>. When the line crosses zero, the number of cases has plateaued.
    {{ statements.cases }}</p>
</div>

<div class="pure-u-1-1">
<a href="deaths.png"><img src="deaths.png" class="pure-img plot"></a>
<p class="legend">
    <strong>Figure {{ country_id }}-2.</strong> The daily change in the <em>rate of deaths</em> from Coronavirus. Negative values indicate the number of deaths per day is <em>decreasing</em>.  When the line crosses zero, the number of deaths has plateaued.
    {{ statements.deaths }}</p>
</div>

{% endblock %}

