{% extends 'country.html' %}

{% block map %}

<div class="pure-u-1-1 map">
   
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.9/datamaps.all.min.js"></script>
<div id="container"></div>
<script>
    var map = new Datamap({
        element: document.getElementById("container"),
        scope: 'world',
        projection: 'mercator',
        responsive: true,
        geographyConfig: {
            highlightOnHover: false,
            popupTemplate: function(geography, data) {
                return '<div class="hoverinfo">' + geography.properties.name + ' <span class="status status-hover ' + data.fillKey + '">' + data.status + '</span></div>'
            },        
        },
        fills: {
            defaultFill: "#fff", // Hide where we have no data.
            yes: "#66c2a5",
             no: "#d53e4f",
          uh_oh: "#863ed5",
          maybe: "#fee090",
            tbc: "#eeeeee",
        },
        data: {
            {% for c_id, c_data in country_status.items() %}
                {% if tlacountries[c_id] %}{{ tlacountries[c_id] }}: { fillKey: '{{ c_data.slug }}', geoId: '{{ c_id|lower }}', status: '{{ c_data.status }}'   },{% endif %}
            {% endfor %}
        },
        done: function(datamap) {
            datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                link = 'https://www.mfitzp.com/iigby/' + datamap.options.data[geography.id].geoId + '/'
                console.log(link);
                location.href = link;
            });
        },

   });

    window.addEventListener('resize', function(event){
        map.resize();
    });
</script>

</div>

<div class="pure-u-1-1 updated">
    <p>
        Data sourced from the 
        <a href="https://www.ecdc.europa.eu/en/publications-data">European Centre for Disease Control</a>.
        Last updated {{ updated.strftime('%A %-d %B') }}.
    </p>
</div>

{% endblock %}


{% block table %}

<div class="pure-u-1-1 table">
    <h3>Current status by country</h3>

<table class="pure-table pure-table-horizontal" id="world">
    <thead>
        <tr>
            <th>Country &#x21F5;</th>
            <th>Cases &#x21F5;</th>
            <th>Deaths &#x21F5;</th>
            <th>Is it getting better? &#x21F5;</th>
        </tr>
    </thead>

    <tbody>
        {% for c_id, c_data in country_status.items() %}
        <tr>
            <td><a href="https://www.mfitzp.com/iigby/{{ c_id|lower }}">{{ countries[c_id] }}</a></td>
            <td class="center"><span class="hide">{{ c_data.cases }}</span><span class="rate rate-label {{ c_data.cases|replace(' ','_') }}"></span></td>
            <td class="center"><span class="hide">{{ c_data.deaths }}</span><span class="rate rate-label {{ c_data.deaths|replace(' ','_') }}"></span></td>
            <td class="center"><span class="status status-label {{ c_data.status|replace(' ','_') }}">{{ c_data.status }}</span></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="pure-u-1-1 l-box">
<h3>Key</h3>
<ol>
    <li><span class="status status-label yes">yes</span> The rate of deaths/day is falling and cases are decelerating.</li>
    <li><span class="status status-label maybe">maybe</span> There are signs of a fall in deaths/day.</li>
    <li><span class="status status-label no">no</span> The rate of deaths/day is rising.</li>
    <li><span class="status status-label uh_oh">uh oh</span> There is an acceleration in daily deaths and cases.</li>
    <li><span class="status status-label tbc">tbc</span> Not enough data (<50 cases total). </li>

</ul>
</div>


<script>
$(function() {
  $(".pure-table").tablesorter(
    { 
        sortList: [[3,0], [0,0]],
        textSorter : function(a, b, direction, columnIndex, table) {
            if (columnIndex == 3) {
                var map = {yes:0, maybe:1, no:2, "uh oh":3, tbc:4},
                    diff = map[a] - map[b];

                if (diff < 0) {
                    return -1;
                }
                if (diff > 0) {
                    return 1;
                }
                return 0;
            } else {
                return a.localeCompare(b);
            }
        }    
    }
  );
});
    
</script>


{% endblock %}



{% block status %}

<div class="pure-u-1-1">
    <h3>Global Status <span class="status-label status {{ status|replace(' ','_') }}">{{ status }}</span></h3>
    <p class="statement">{{ statements.headline }}</p>
</div>

{% endblock %}
